@import './variables.scss';

// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

body {
    height: 100vh;
    overflow: hidden;
    #app {
        font-size: $base-font;
        color: $text-color-1;
        background-color: $bg-1;
        height: 100%;
    }
}
