@import './variables.scss';

// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

#app {
    font-size: $base-font;
    color: $text-color-1;
    height: 100vh;
}